.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 24px;
}

.Container_Left {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container_Left img {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    backwards;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

.Container_Right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Container_Right h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 6px #fff;
  line-height: 1.2;
  letter-spacing: 2px;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.Container_Right form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input p {
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    backwards;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

.input input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    backwards;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

.input input:hover {
  outline: none;
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 8px 1px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
}

.input input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 8px 8px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
  transform: scale(1.02);
}

.btn {
  margin-top: 18px;
}

.btn button {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    backwards;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

.btn button:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 8px 1px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
}

.Container_Right a {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    backwards;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
