.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: auto;
  margin: 0 5%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.content h1 {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 0 0 6px #ffffff;
}

.content p {
  font-size: 1rem;
  font-weight: 500;
}

.content .btn {
  width: 160px;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content .btn:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 8px 1px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  -webkit-animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 950px) {
  .content h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 0 6px #ffffff;
  }

  .content p {
    display: none;
  }

  .content .btn {
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
  }

  .content .btn {
    width: 160px;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 360px) {
  .content h1 {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 6px #ffffff;
  }
  .content .btn {
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
  }

  .content {
    flex-direction: column;
  }

  .image {
    display: none;
  }
}
