.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: auto;
  margin: 0 5%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.content h1 {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 0 0 6px #ffffff;
}

.content p {
  font-size: 1rem;
  font-weight: 500;
}

.content .btn {
  width: 27%;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content .btn:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 0 8px 1px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
