.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo p {
  font-size: 2rem;
  font-weight: 700;
}

.navbarItems {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbarItems a {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: #1f6feb;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbarItems a:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px 1px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
}

.navbarItems button {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #f1356d;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbarItems button:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 8px 1px #ffffff;
  -moz-box-shadow: 0 0 8px 1px #ffffff;
  box-shadow: 0 0 8px 1px #ffffff;
}

.sideBarIcon {
  display: none;
}

@media screen and (max-width: 950px) {
  .logo p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbarItems {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 14%;
    right: 4%;
    z-index: 1;
    background-color: #000;
    padding: 0.75rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }

  .navbarItems.show {
    display: flex;
  }

  .navbarItems a {
    background-color: #000;
  }

  .navbarItems a:hover {
    background-color: #fff;
    color: #000;
  }

  .navbarItems button {
    background-color: #000;
  }

  .sideBarIcon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .sideBarIcon:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 360px) {
  .navbar {
    padding: 0.5rem;
  }
  .navbar img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 360px) {
  .navbarItems {
    top: 8%;
    right: 2%;
  }
}
