.Card {
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  background-color: #111019;
  border-radius: 6px;
  gap: 6px;
  transition: all 0.3s ease-in-out;
  -webkit-animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.Card:hover {
  box-shadow: 0 0 10px #fff;
}

.Card img {
  border-radius: 6px;
  margin-bottom: 1rem;
}

.Card h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.Card p {
  font-size: 1rem;
  font-weight: 500;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
